@import "tailwindcss";

:root {
	--background-1: #dfdfdf;
	--foreground-1: #000000;
	--foreground-2: #383838;
	--foreground-theme: #ffffff;
	--theme: #4231ff;
}

@theme inline {
	--color-background-1: var(--background-1);
	--color-foreground-1: var(--foreground-1);
	--color-foreground-2: var(--foreground-2);
	--color-foreground-theme: var(--foreground-theme);
	--color-theme: var(--theme);
}